
@font-face {
  font-family: 'Poppins-600';
  src: local('Poppins-SemiBold.ttf'),
    url('./fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {    
  font-family: 'Poppins-400';
  src: local('Poppins-Regular.ttf'),
    url('./fonts/Poppins-Regular.ttf') format('truetype');
}


body {
  margin: 0;
  padding: 0;
  background-color: #bde0fe;
  color: #05386b;
}
